.idea/
**/tmp/
**/output/
*.swp
.DS_Store
.vscode/settings.json
tags
.*.swp
.*.swo
*.swo
**/*.kubeconfig
services/rhcos-vpcgen2-ignitiondata/production.yaml
etc/haproxytemplates/ibm-registry-haproxy.yaml
