[Unit]
Description=Sets up local IP to proxy ibm registry traffic
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/ibmmasterendpointsmetadata
Environment=REGIONAL_REGISTRY_ENDPOINT="{{ DOCKER_REGISTRY }}"
ExecStart=/usr/local/bin/ibm-add-registry-routes.sh
ExecStart=/usr/local/bin/ibm-dynamic-registry-haproxy-config.sh
ExecStop=/usr/local/bin/ibm-remove-registry-routes.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
