[Unit]
Description=report boot id
After=kubelet.service
Requires=kubelet.service

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=/etc/sysconfig/ibmbomversion
ExecStart=/usr/local/bin/ibm-report-bootid.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
