[Unit]
Description=Perform luks encryption on secondary disk
After=network-online.target local-fs.target
Before=kubelet.service crio-wipe.service crio.service
ConditionPathExists=/etc/sysconfig/ibmsecondarystorage/luks
ConditionPathExists=!/etc/sysconfig/ibmsecondarystorage/setupexecuted


[Service]
Type=oneshot
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=-/etc/sysconfig/ibmsecondarystorage/ibmsecondarystorageenvfile
EnvironmentFile=-/etc/sysconfig/ibmmachinemetadataenvfile

ExecStart=/usr/local/bin/ibm-luks-encryption.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target